---
import MobileHeader from "../../components/header/mobile";
import ModernLogo from "../../components/logo/modern";
import "../../styles/theme.css";
---

<html
  class="selection:bg-primary-200 selection:text-primary-600 dark:selection:bg-primary-500 dark:selection:text-primary-200 selection:bg-opacity-20 dark:selection:bg-opacity-20"
>
  <head></head>
  <body
    class="selection:bg-primary-200 selection:text-primary-600 dark:selection:bg-primary-500 dark:selection:text-primary-200 selection:bg-opacity-20 dark:selection:bg-opacity-20"
  >
    <MobileHeader
      client:load
      withTopHeader={false}
      fillSize={true}
      defaultFixed
    >
      <MobileHeader.Left>
        <ModernLogo
          items={[
            { text: "turistik", variant: "secondary" },
            { text: "rota", variant: "primary" },
          ]}
          link="/"
          main
          active
        />
      </MobileHeader.Left>
      <MobileHeader.Fill className="hidden md:flex">{``}</MobileHeader.Fill>
      <MobileHeader.Right />
    </MobileHeader>
    <main>
      <slot />
    </main>
  </body>
</html>
