---
import DefaultLayout from "../layouts/default/index.astro";
---

<DefaultLayout>
  <h1>Astro</h1>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione commodi
  dignissimos obcaecati sunt, autem exercitationem quod, mollitia, dicta placeat
  ullam at quis dolorem sapiente! Ad, aspernatur suscipit! Porro soluta voluptate,
  quia excepturi laudantium consequatur eveniet libero deleniti accusamus dolores
  eum voluptatum, nesciunt praesentium eligendi quisquam amet voluptatibus consectetur?
  Sapiente maiores dolor aliquam iste adipisci. Enim, odit sapiente. Ipsa sunt ea
  debitis omnis a beatae quam maiores cupiditate dignissimos repudiandae accusantium
  perferendis iusto delectus minima corrupti, animi vel molestiae quos architecto
  distinctio, rerum voluptatum. Accusamus ipsam, quisquam, quod soluta omnis eaque
  error doloribus voluptatem ipsum dicta sunt consequuntur cupiditate, harum architecto
  quas laboriosam beatae! Et ipsam, esse numquam quos aspernatur nisi delectus veniam
  omnis error quidem facere dolores dolor sequi voluptatum adipisci sed amet sint
  laborum. Itaque, doloremque quibusdam! Possimus molestiae quisquam iusto eius ullam
  velit alias natus in? Deserunt cum ut, repellat distinctio cupiditate quis ipsam!
  Facilis deleniti veniam maxime velit est obcaecati nostrum corrupti libero, natus
  vero, tempore aperiam dolor officiis? Veniam repellat nisi facilis laborum, dolores
  quisquam, repudiandae quibusdam quasi, culpa error maxime? Asperiores recusandae
  deleniti quisquam repellendus. Adipisci mollitia nostrum, labore error repellat
  ullam sint ut! Eaque, obcaecati minima adipisci non ea nostrum eos quis mollitia
  reprehenderit laboriosam ipsum possimus deleniti fugit sed placeat laudantium assumenda
  quas quam facere. Animi amet commodi temporibus? Ea odio commodi iste cupiditate
  beatae, possimus optio nihil sit placeat deleniti, hic ipsam? Facilis sapiente
  unde vel animi, nostrum officiis! Culpa libero, nostrum nam nisi eveniet cumque
  repudiandae nemo, quibusdam commodi ex ipsum quasi sint, velit tenetur ipsa excepturi
  soluta! Nemo consequatur unde sed nulla quas temporibus rerum nobis itaque, adipisci
  reprehenderit. Vel iure impedit iste quasi omnis qui, repellendus odio veritatis
  accusamus quos! Blanditiis enim exercitationem ducimus id sint hic iure tempore.
  Magni quae minus odio expedita vero voluptas harum labore. Dolores distinctio,
  molestias rerum soluta provident consectetur totam commodi cum dicta quas. Aperiam
  sed placeat nisi architecto fugiat excepturi exercitationem modi temporibus sequi
  voluptatem odit minus sunt, doloremque rem dolore eos ab ratione voluptas tempore
  laboriosam perspiciatis quam voluptate. Nemo fugiat asperiores quisquam, id temporibus
  quo nulla soluta minima eum eveniet nisi tempore dolorem iste sunt quasi cupiditate
  dicta sit neque adipisci doloremque facilis error? Excepturi ex quisquam saepe
  blanditiis quod tempora minus quasi ipsum consequatur perspiciatis ea odit unde
  optio ad quidem sapiente dignissimos maxime molestiae incidunt sed, esse deserunt
  provident veritatis. Consectetur quo, blanditiis porro tempora officia nam, impedit
  totam recusandae eligendi alias repudiandae tenetur vitae ullam sint dignissimos
  nihil nostrum commodi assumenda temporibus. Ut unde, aliquam quaerat, consequatur
  animi, enim eligendi ex quidem obcaecati libero ipsum non voluptates doloremque
  dolor. Architecto quos optio voluptatibus voluptates, provident asperiores odit,
  autem quia aperiam, totam minima expedita facere neque error hic fugit quo possimus
  repellat rerum eligendi blanditiis atque? Maiores, recusandae a. Molestiae atque
  nam officia molestias minus, cumque fuga delectus temporibus quisquam nesciunt
  ipsam dignissimos explicabo perferendis ut culpa consequuntur! Doloribus ratione
  recusandae laborum facere reprehenderit placeat expedita! Nisi, error? Cum possimus
  nemo consectetur perspiciatis commodi autem hic nobis nihil ratione, suscipit placeat
  exercitationem quasi dolore quia voluptas dolores nam vitae ad provident nostrum
  necessitatibus dolorem reprehenderit officia. Reiciendis voluptate doloremque animi
  fugiat, velit quis facere rem consequatur ea ducimus? Est autem obcaecati minus
  adipisci excepturi consequuntur, dicta distinctio facere, libero impedit inventore
  illum qui in velit veniam deserunt, aliquam commodi saepe! Rerum, iusto. Laboriosam
  aut sed, corporis, accusantium possimus distinctio fugiat, totam hic recusandae
  numquam rerum nostrum magnam. Illo, error ratione, facere commodi tempore nisi
  nemo quam deleniti cum amet molestias! Libero expedita unde maxime, ullam sunt
  minus perferendis error commodi quas accusantium repudiandae aliquam in doloribus,
  nostrum consequuntur. Inventore optio voluptates laboriosam, ex quaerat nam quis
  laudantium impedit vero ea vitae quas pariatur cumque quae eius atque modi velit
  assumenda! Sed explicabo ut est tempore. Vitae ullam eligendi impedit adipisci
  assumenda repudiandae accusantium nam, doloremque corporis molestias asperiores
  quibusdam fugiat doloribus maxime autem officia atque optio dolorem nesciunt nisi,
  non, eum magni consequatur. Veritatis in tenetur accusamus totam fuga animi placeat
  ipsa dolorem dignissimos autem nostrum ex vitae nulla perferendis quibusdam numquam,
  sequi molestias recusandae officia id. Molestiae, quaerat unde natus odio voluptas
  quisquam distinctio nihil, quibusdam maiores sit aspernatur rem nesciunt? Eum reprehenderit
  inventore quo corporis ipsum deserunt dolorum, fuga placeat voluptas porro officia
  nisi nemo dolores omnis. Repellendus ipsum magnam cum placeat sint suscipit dolorum
  odit fuga delectus quaerat eum earum debitis expedita, doloremque molestiae totam
  porro quia maiores assumenda voluptatibus iusto praesentium pariatur possimus.
  Veniam neque corporis consectetur rem eos, voluptatem alias iste tempore praesentium
  quaerat explicabo nisi incidunt aliquam placeat dignissimos labore, nam quibusdam
  et! Recusandae nobis sit eligendi numquam quam est harum vero illum sint accusantium!
  Earum officiis vitae nobis laborum qui omnis eveniet, repellat quos ea nostrum
  doloribus corrupti unde enim ipsum fugit? Error voluptatibus delectus perferendis
  tenetur dolores. Exercitationem placeat in quibusdam molestias magnam architecto!
  Quas, ad nam. Consectetur alias nihil perspiciatis repellendus saepe molestias
  inventore iure in iusto, corrupti quaerat doloribus culpa, sit dicta vel? Corrupti
  illum soluta iusto deleniti perferendis asperiores error atque voluptatum eaque
  minus hic maxime explicabo sit debitis ab, itaque iure eum laboriosam doloribus
  omnis illo enim consequatur. Magnam consequatur voluptatem quod ipsum? Odio ullam
  quod suscipit harum commodi, eligendi expedita ipsa aliquid numquam corrupti. Deleniti,
  explicabo atque doloribus debitis voluptatibus perspiciatis delectus consequuntur
  quo, inventore consequatur eveniet hic repudiandae tempore molestias culpa recusandae
  rem quidem. Delectus, doloremque? Hic pariatur maiores quia quis laudantium velit
  sequi eos provident impedit accusamus, cumque voluptatum corrupti iste. Velit sunt
  quidem vero libero ex quas saepe consequatur sapiente aperiam adipisci et reiciendis
  exercitationem ratione expedita animi suscipit, odit optio? Eum explicabo veritatis
  repellat necessitatibus provident alias, incidunt consectetur. Vel delectus, deserunt
  quae saepe cupiditate nulla quia, eveniet nam quo alias, sapiente incidunt voluptate
  reprehenderit tempora. Animi suscipit nesciunt aliquid consequatur eum veritatis
  nihil iste voluptatibus officia, tenetur, harum dolor quasi autem dolores accusantium
  minima ullam impedit dolorem. Nulla consequatur in eos, blanditiis accusamus, explicabo
  nemo officiis quas aliquam dicta pariatur ex quibusdam ipsum quod a quis minima?
  Dolorum, animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
  recusandae eveniet repellendus minima impedit quibusdam commodi culpa voluptatum
  velit nam beatae distinctio totam quo quos eaque harum, vitae veniam. Quo voluptatibus
  ratione doloribus voluptates pariatur, vitae autem minima sapiente atque. Quaerat
  quidem consequatur tenetur expedita deserunt magni a cumque! Facere nam at voluptas
  recusandae assumenda doloremque perferendis magnam atque esse consequatur molestias,
  nulla reprehenderit error! Facere, sunt earum! Animi aut nobis itaque impedit minima
  non! Porro consequatur cupiditate blanditiis perferendis quia quasi mollitia sit
  at odit aut ratione quae dignissimos, et soluta aspernatur officiis labore excepturi
  nesciunt deserunt molestias dolore a doloremque! Voluptas quidem incidunt non quo
  deleniti corporis! Minima, incidunt facilis, dolorum hic blanditiis molestias eius
  quia beatae modi error tempora adipisci in quis iusto ullam numquam nulla porro
  amet perspiciatis quo. Nam, incidunt. Rem aperiam corrupti similique officiis mollitia
  fuga ex excepturi accusamus dolores rerum, totam sint optio dicta incidunt quo
  ut minima laudantium! Fugit esse magnam quod ipsum quos, id, nulla eveniet, tempora
  omnis at repudiandae. Dolores optio adipisci possimus, quam pariatur maiores excepturi
  blanditiis, rerum enim recusandae odio eum, libero qui vero officiis magnam atque
  ad necessitatibus dolor a tempore culpa doloremque eius perferendis? Quos, quae?
</DefaultLayout>
